# Python cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# Django local settings & secrets
local_settings.py
db.sqlite3
staticfiles/
celerybeat-schedule*

# OS
.DS_Store
Thumbs.db
